<nav class="navtop">
  <%= link_to "BMDB", lists_path, class:"navbar-brand" %>
  <div>
  <%= link_to "home", lists_path, class:"navbar-brand" %>
  |
  <%= link_to "lists", lists_path, class:"navbar-brand" %>
  |
  <%= link_to "new list", lists_path, class:"navbar-brand" %>
  |
  <%= link_to "feedback", lists_path, class:"navbar-brand" %>
  </div>
  <i class="fa-solid fa-film"></i>
</nav>

<div class="banner">
</div>

<%# <%= cl_image_tag("nfntyvwhvijc7bsgcivz", width: 300, height: 500, crop: :fill) %> %>

<div class="heading">
  <h3>Lists my lists</h3>
</div>

<div class="main">
  <% @lists.each do |list| %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
    <%= link_to list.name, list_path(list) %>
  </div>
  <% end %>
</div>
